@mixin radius($value) { 
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-ms-border-radius: $value;
	border-radius: $value;
} 

@mixin box-shadow($value: 0 0 4px 0 #000) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-ms-box-shadow: $value;
	box-shadow: $value;
}