#Menu-SEO_ModelAdmin {
	a {
		background: #333;
		border-bottom-color: #000;
		border-top: 0;
		color: #FFF;
		text-shadow: 0 0 0 #FFF;

		&:hover {
			border-right: 0px;
		}

		.icon-seo_modeladmin {
			opacity: 1;
		}
	}

	&.current {
		a {
			background: #000;
			border-top-color: #000;
			border-right: 0px;
		}
	}
}