#Root_PageSEO {
	h1 {
		background: #5D5D5D;
		color: #FFF;
		font-family: 'Helvetica', sans-serif;
		font-size: 20px;
		font-weight: normal;
		line-height: 40px;
		padding-left: 20px;
	}

	h2 {
		color: #333;
		font-size: 17px;
	}

	.field {
		border-bottom: 0;

		input {

			&.text {
				background: #EAEAEA;

				@include radius(2px);
			}
		}

		textarea {
			background: #EAEAEA;

			@include radius(0px);
		}

		.chzn-container-single {
			.chzn-single {
				background: #EAEAEA;

				@include radius(2px);
			}
		}

		.ss-ui-button {

			@include radius(0px);

			&.ss-ui-action-constructive {
				background: #969696;
				border: 1px solid #969696;
				font-size: 0.875em;
				text-transform: uppercase;

				&:hover {
					background: #000;
					opacity: 0.8;
				}

				@include radius(2px);
			}
		}
	}
}